{% extends './base.html.twig' %}

{% block body %}
<div class="">
    <div class="bg-white rounded-md mb-4 drop-shadow-md" >
        <div class="flex items-center w-11/12 m-auto pt-4">
            <div class="h-12 w-12 mr-4">
                <img class="rounded-full w-full h-full" src="{{ asset('build/images/piesek.cb296c0f.jpg') }}" alt="Profile photo">
            </div>
            <div>
                <div class="rounded-md">
                    <span class="text-lg font-extrabold">{{ app.user.firstName }}</span> {# podmienić na dane dla zalogowanego usera #}
                    <span class="text-lg font-extrabold">{{ app.user.lastName }}</span> {# podmienić na dane dla zalogowanego usera #}
                </div>
                <span>{{ "now"|date("d.m.Y") }}</span>
            </div>
        </div>
        <div class="rounded-md w-11/12 m-auto mt-4 pb-4">
            {{ form_start(form) }}
        </div>
         <div class="w-11/12 m-auto">
            {{ form_widget(form) }}
            <button type="submit" class="px-4 py-2 mb-4 bg-blue-700 text-white font-extrabold hover:bg-blue-400 focus:outline-none">
                Publikuj
            </button>
            {{ form_end(form) }}
        </div>
    </div>
    {% if posts is empty %}
    <div class="bg-white rounded-md mb-4 pl-10 py-10 font-semibold" >
        Brak postów! &#x1F61E
    </div>
    {% else %}
        {% for post in posts %}
        <div class="post post-{{ post.id }} bg-white rounded-md mb-4 drop-shadow-md" >
            <div class="flex items-center w-11/12 m-auto pt-4">
                <div class="h-12 w-12 mr-4">
                    <img class="rounded-full w-full h-full" src="{{ asset('build/images/piesek.cb296c0f.jpg') }}" alt="Profile photo">
                </div>
                <div>
                    <div class="rounded-md">
                        <span class="text-lg font-extrabold">{{ post.userId.firstName }}</span>
                        <span class="text-lg font-extrabold">{{ post.userId.lastName }}</span>
                    </div>
                    <span>{{ post.createdAt|date("d.m.Y")}}</span>
                </div>
            </div>
            <div class="rounded-md w-11/12 m-auto mt-4 pb-4">
                {{ post.text}}
                
            </div>
            <div class="flex w-11/12 m-auto pb-4">
                <div class="p-1 mr-2">
                    Komentarze: 0
                </div>
                <button class="reaction-btn rounded-md bg-gray-200 p-1 mr-2 hover:drop-shadow-xl transition duration-150 transform hover:scale-105" data-post-id="{{ post.id }}" data-reaction-type="1" >
                        &#x1F44D;
                        <span class="reaction-count" data-reaction-type="1"> 
                            {% if reactions[post.id] is defined and reactions[post.id].1 is defined %}
                                {{ reactions[post.id].1 }} 
                            {% else %}
                                0
                            {% endif %}
                        </span>
                </button>
                <button class="reaction-btn rounded-md bg-gray-200 p-1 mr-2 hover:drop-shadow-xl transition duration-150 transform hover:scale-105" data-post-id="{{ post.id }}" data-reaction-type="2" >
                        &#x1F44E;
                        <span class="reaction-count" data-reaction-type="2">
                            {% if reactions[post.id] is defined and reactions[post.id].2 is defined %}
                                {{ reactions[post.id].2 }} 
                            {% else %}
                                0
                            {% endif %}
                        </span>
                </button>
                <button class="reaction-btn rounded-md bg-gray-200 p-1 mr-2 hover:drop-shadow-xl transition duration-150 transform hover:scale-105" data-post-id="{{ post.id }}" data-reaction-type="3" >
                        &#x1F602;
                        <span class="reaction-count" data-reaction-type="3">
                            {% if reactions[post.id] is defined and reactions[post.id].3 is defined %}
                                {{ reactions[post.id].3 }} 
                            {% else %}
                                0
                            {% endif %}
                         </span>
                </button>
                <button class="reaction-btn rounded-md bg-gray-200 p-1 mr-2 hover:drop-shadow-xl transition duration-150 transform hover:scale-105" data-post-id="{{ post.id }}" data-reaction-type="4" >
                        &#x1F9E1;
                        <span class="reaction-count" data-reaction-type="4">
                            {% if reactions[post.id] is defined and reactions[post.id].4 is defined %}
                                {{ reactions[post.id].4 }} 
                            {% else %}
                                0
                            {% endif %}
                        </span>
                </button>
                <button class="reaction-btn rounded-md bg-gray-200 p-1 mr-2 hover:drop-shadow-xl transition duration-150 transform hover:scale-105" data-post-id="{{ post.id }}" data-reaction-type="5" >
                        &#x1F61E;
                        <span class="reaction-count" data-reaction-type="5">
                            {% if reactions[post.id] is defined and  reactions[post.id].5 is defined %}
                                {{ reactions[post.id].5 }} 
                            {% else %}
                                0
                            {% endif %}
                        </span>
                </button>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
